extends layouts/default
include layouts/mixin/_mixin

block content
	main.with-aside
		aside
			.aside-inner
				nav.navigation
					include layouts/menu
		#main
			include layouts/breadcrumb
			section
				.container
					.row
						a.btn.basic(href="javascript:;") default
						a.btn.edit(href="javascript:;") edit
						a.btn.delete(href="javascript:;") delete
						a.btn.cancel(href="javascript:;") cancel
						a.btn.basic.full(href="javascript:;") full width
						a.btn.disabled(href="javascript:;") disabled
					h4 Usage
					pre
						code.language-jade.
							a.bordered.btn.basic(href="javascript:;") default
					h5 Purpose
					p Basic
					pre
						code.language-jade.
							a.bordered.btn.basic(href="javascript:;") default
					p Edit
					pre
						code.language-jade.
							a.bordered.btn.edit(href="javascript:;") default
					p Delete
					pre
						code.language-jade.
							a.bordered.btn.delete(href="javascript:;") default
					p Cancel
					pre
						code.language-jade.
							a.bordered.btn.cancel(href="javascript:;") default
					p Full
					pre
						code.language-jade.
							a.bordered.btn.full(href="javascript:;") default
					p Disabled
					pre
						code.language-jade.
							a.bordered.btn.disabled(href="javascript:;") default
					h4 Style
					h5 Bordered
					.row
						a.bordered.btn.basic(href="javascript:;") default
						a.bordered.btn.edit(href="javascript:;") edit
						a.bordered.btn.delete(href="javascript:;") delete
						a.bordered.btn.cancel(href="javascript:;") cancel
						a.bordered.btn.basic.full(href="javascript:;") full width
					p Bordered
					pre
						code.language-jade.
							a.bordered.btn.bordered.edit(href="javascript:;") default