extends layouts/default
include layouts/mixin/_mixin
//Custom Header
block header

block content
	main
		#main
			section
				.container.full-page.vertical-middle(style='background-image: url(http://unsplash.it/1440/680)')
					.container-inner
						//Custom
						#logo
							img(src='/images/weypro.svg')
						form.login-form
							.title
								h1 Login
							.controlgroup
								label Username
								.controls
									input(type='text', placeholder='Username')
							.controlgroup
								label Password
								.controls
									input(type='password', placeholder='Password')
							.controlgroup
								label Captcha
								.controls
									img.captcha-image(src='http://unsplash.it/90/36')
									input#CAPTCHA(type='password', placeholder='Captcha')
							.call-action
								button.btn.basic.full(type='submit') SUBMIT