extends layouts/default
include layouts/mixin/_mixin

block content
	main.with-aside
		aside
			.aside-inner
				nav.navigation
					include layouts/menu
		#main
			section
				.container.restrict
					h1 Helper & Modifier
						small class helpers for blazing fast prototyping.
					p /styles/helpers/_helpers.scss
					h3 SASS Helpers
					h5 Clear Float '.clr'
					pre
						code.language-scss.
							@extend .clr;
					h5 CSS Transition '.transition'
					pre
						code.language-scss.
							@extend .transition;

					h3 Layout Helpers
					h5 Container Sizes
			section
				.container
					+lipsum(2,'paragraphs')
					pre
						code.language-jade.
							.container
								p full width with small paddings.
				.container.restrict
					+lipsum(2,'paragraphs')
					pre
						code.language-jade.
							.container.restrict
								p $ with small paddings.
				.container.restrict-small
					+lipsum(2,'paragraphs')
					pre
						code.language-jade.
							.container.restrict-small
								p $ with small paddings.
				.container.restrict-tiny
					+lipsum(2,'paragraphs')
					pre
						code.language-jade.
							.container.restrict-tiny
								p $ with small paddings.