//Normal Menu Example
ul.menu
	li
		a(href='javascript:;') Demos
		ul
			li
				a(href='demo-filemanager.html') File manager
			li
				a(href='demo-login.html') Login
	li
		a(href='index.html') Overview
	
	li
		a(href='grid.html') The Grid
	li
		a(href='javascript:;') Components
		ul
			li
				a(href='widget.html') Widget Block
			li
				a(href='treelist.html') Tree List
			li
				a(href='gallery.html') Gallery
			li
				a(href='javascript:;') Navigator
			li
				a(href='typography.html') Typography
			li
				a(href='tables.html') Tables
			li
				a(href='form.html') Forms
			li
				a(href='buttons.html') Buttons
	li
		a(href='helpers.html') Helper & Modifier
	li
		a(href='javascript:;') Javascripts
		ul
			li
				a(href='javascript:;') Pace
			li
				a(href='plugin-datatable.html') Datatables
			li
				a(href='javascript:;') ImageExchanger (unavailable)
			li
				a(href='javascript:;') Lazyloads (unavailable)
			li
				a(href='plugin-prism.html') Prism.js
			li
				a(href='plugin-chart.html') Chart.js
			li
				a(href='plugin-tabber.html') Tabber.js		
	li
		a(href='javascript:;') Contribute