//With-icon Menu
ul.menu.with-icon
	li
		a(href='javascript:;')
			i.fa.fa-calendar-plus-o.fa-3x
			span Overview
	li
		a(href='javascript:;')
			i.fa.fa-code-fork.fa-3x
			span The Grid
	li
		a(href='javascript:;')
			i.fa.fa-code-fork.fa-3x
			span Components
		ul
			li
				a(href='javascript:;')
					i.fa.fa-code-fork.fa-lg
					span Navigator
			li
				a(href='javascript:;')
					i.fa.fa-code-fork.fa-lg
					span Typography
			li
				a(href='javascript:;')
					i.fa.fa-code-fork.fa-lg
					span Tables
			li
				a(href='javascript:;')
					i.fa.fa-code-fork.fa-lg
					span Forms
			li
				a(href='javascript:;')
					i.fa.fa-code-fork.fa-lg
					span Buttons
	li
		a(href='javascript:;')
			i.fa.fa-code-fork.fa-3x
			span Helpers
	li
		a(href='javascript:;')
			i.fa.fa-code-fork.fa-3x
			span Javascripts
		ul
			li
				a(href='javascript:;')
					i.fa.fa-code-fork.fa-lg
					span Pace
			li
				a(href='javascript:;')
					i.fa.fa-code-fork.fa-lg
					span Datatables
			li
				a(href='javascript:;')
					i.fa.fa-code-fork.fa-lg
					span ImageExchanger
			li
				a(href='javascript:;')
					i.fa.fa-code-fork.fa-lg
					span Lazyloads
			li
				a(href='javascript:;')
					i.fa.fa-code-fork.fa-lg
					span Prism
	li
		a(href='javascript:;')
			i.fa.fa-code-fork.fa-3x
			span Contribute
